In [1]:
# Import pandas
import pandas as pd

In [2]:
# Explanation of the columns: https://www.nyc.gov/assets/tlc/downloads/pdf/data_dictionary_trip_records_yellow.pdf
dataset = "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2025-01.parquet"

In [3]:
# Read the dataset and save the DataFrame in a variable
df = pd.read_parquet(dataset)

In [4]:
# Get the shape of the dataframe
df.shape

(3475226, 19)

In [5]:
# Get information about the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3475226 entries, 0 to 3475225
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
dtypes: datetime64[us](2), float64(12), int32(3), int64(1), object(1)
memory usage: 464.0+ MB

In [6]:
# Describe the data (find count, mean, min, max, etc)
df.describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
count,3.475226e+06,3475226,3475226,2.935077e+06,3.475226e+06,2.935077e+06,3.475226e+06,3.475226e+06,3.475226e+06,3.475226e+06,3.475226e+06,3.475226e+06,3.475226e+06,3.475226e+06,3.475226e+06,3.475226e+06,2.935077e+06,2.935077e+06
mean,1.785428e+00,2025-01-17 11:02:55.910964,2025-01-17 11:17:56.997901,1.297859e+00,5.855126e+00,2.482535e+00,1.651916e+02,1.641252e+02,1.036623e+00,1.708180e+01,1.317737e+00,4.780991e-01,2.959813e+00,4.493081e-01,9.547946e-01,2.561129e+01,2.225237e+00,1.239111e-01
min,1.000000e+00,2024-12-31 20:47:55,2024-12-18 07:52:40,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-9.000000e+02,-7.500000e+00,-5.000000e-01,-8.600000e+01,-1.269400e+02,-1.000000e+00,-9.010000e+02,-2.500000e+00,-1.750000e+00
25%,2.000000e+00,2025-01-10 07:59:01,2025-01-10 08:15:29.500000,1.000000e+00,9.800000e-01,1.000000e+00,1.320000e+02,1.130000e+02,1.000000e+00,8.600000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,1.000000e+00,1.520000e+01,2.500000e+00,0.000000e+00
50%,2.000000e+00,2025-01-17 15:41:33,2025-01-17 15:59:34,1.000000e+00,1.670000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,1.211000e+01,0.000000e+00,5.000000e-01,2.450000e+00,0.000000e+00,1.000000e+00,1.995000e+01,2.500000e+00,0.000000e+00
75%,2.000000e+00,2025-01-24 19:34:06,2025-01-24 19:48:31,1.000000e+00,3.100000e+00,1.000000e+00,2.340000e+02,2.340000e+02,1.000000e+00,1.950000e+01,2.500000e+00,5.000000e-01,3.930000e+00,0.000000e+00,1.000000e+00,2.778000e+01,2.500000e+00,0.000000e+00
max,7.000000e+00,2025-02-01 00:00:44,2025-02-01 23:44:11,9.000000e+00,2.764236e+05,9.900000e+01,2.650000e+02,2.650000e+02,5.000000e+00,8.633721e+05,1.500000e+01,1.050000e+01,4.000000e+02,1.709400e+02,1.000000e+00,8.633804e+05,2.500000e+00,6.750000e+00
std,4.263282e-01,NaN,NaN,7.507503e-01,5.646016e+02,1.163277e+01,6.452948e+01,6.940169e+01,7.013334e-01,4.634729e+02,1.861509e+00,1.374623e-01,3.779681e+00,2.002582e+00,2.781938e-01,4.636585e+02,9.039932e-01,4.725090e-01

In [7]:
# View the dataframe
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2025-01-01 00:18:38,2025-01-01 00:26:59,1.0,1.60,1.0,N,229,237,1,10.00,3.5,0.5,3.00,0.0,1.0,18.00,2.5,0.0
1,1,2025-01-01 00:32:40,2025-01-01 00:35:13,1.0,0.50,1.0,N,236,237,1,5.10,3.5,0.5,2.02,0.0,1.0,12.12,2.5,0.0
2,1,2025-01-01 00:44:04,2025-01-01 00:46:01,1.0,0.60,1.0,N,141,141,1,5.10,3.5,0.5,2.00,0.0,1.0,12.10,2.5,0.0
3,2,2025-01-01 00:14:27,2025-01-01 00:20:01,3.0,0.52,1.0,N,244,244,2,7.20,1.0,0.5,0.00,0.0,1.0,9.70,0.0,0.0
4,2,2025-01-01 00:21:34,2025-01-01 00:25:06,3.0,0.66,1.0,N,244,116,2,5.80,1.0,0.5,0.00,0.0,1.0,8.30,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3475221,2,2025-01-31 23:01:48,2025-01-31 23:16:29,NaN,3.35,NaN,None,79,237,0,15.85,0.0,0.5,0.00,0.0,1.0,20.60,NaN,NaN
3475222,2,2025-01-31 23:50:29,2025-02-01 00:17:27,NaN,8.73,NaN,None,161,116,0,28.14,0.0,0.5,0.00,0.0,1.0,32.89,NaN,NaN
3475223,2,2025-01-31 23:26:59,2025-01-31 23:43:01,NaN,2.64,NaN,None,144,246,0,14.91,0.0,0.5,0.00,0.0,1.0,19.66,NaN,NaN
3475224,2,2025-01-31 23:14:34,2025-01-31 23:34:52,NaN,3.16,NaN,None,142,107,0,17.55,0.0,0.5,0.00,0.0,1.0,22.30,NaN,NaN
3475225,2,2025-01-31 23:56:42,2025-02-01 00:07:27,NaN,2.29,NaN,None,237,238,0,12.09,0.0,0.5,0.00,0.0,1.0,16.09,NaN,NaN

In [8]:
# Get a sample of the dataframe
df.sample(15)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
1910466,2,2025-01-21 20:09:17,2025-01-21 20:22:07,2.0,1.83,1.0,N,137,161,1,13.50,1.00,0.5,4.81,0.00,1.0,24.06,2.5,0.00
3351550,2,2025-01-25 20:50:59,2025-01-25 20:58:01,NaN,1.42,NaN,None,75,237,0,9.05,0.00,0.5,0.00,0.00,1.0,13.05,NaN,NaN
320697,1,2025-01-04 20:46:30,2025-01-04 20:49:42,1.0,0.50,1.0,N,48,48,1,5.10,3.50,0.5,2.00,0.00,1.0,12.10,2.5,0.00
2444915,2,2025-01-27 08:43:56,2025-01-27 08:54:27,1.0,1.74,1.0,N,75,42,1,12.10,0.00,0.5,3.40,0.00,1.0,17.00,0.0,0.00
2244263,2,2025-01-24 23:29:19,2025-01-24 23:29:26,1.0,0.00,1.0,N,132,132,2,-3.00,-1.00,-0.5,0.00,0.00,-1.0,-7.25,0.0,-1.75
3437841,2,2025-01-30 19:06:49,2025-01-30 19:26:18,NaN,0.00,NaN,None,41,224,0,25.99,0.00,0.5,0.00,0.00,1.0,29.99,NaN,NaN
1623186,2,2025-01-18 14:02:38,2025-01-18 14:05:46,1.0,0.48,1.0,N,236,236,1,5.10,0.00,0.5,1.82,0.00,1.0,10.92,2.5,0.00
2500374,2,2025-01-27 18:23:38,2025-01-27 19:12:24,1.0,18.86,2.0,N,132,42,1,70.00,5.00,0.5,7.00,6.94,1.0,92.19,0.0,1.75
3000040,2,2025-01-09 17:25:44,2025-01-09 17:35:27,NaN,0.00,NaN,None,137,224,0,6.99,0.00,0.5,0.00,0.00,1.0,11.74,NaN,NaN
2776980,2,2025-01-30 16:02:50,2025-01-30 16:24:06,1.0,3.18,1.0,N,170,231,1,21.20,2.50,0.5,7.11,0.00,1.0,35.56,2.5,0.00
2446209,1,2025-01-27 08:31:02,2025-01-27 08:47:42,1.0,2.60,1.0,N,263,143,1,15.60,2.50,0.5,3.90,0.00,1.0,23.50,2.5,0.00
512256,2,2025-01-07 11:13:44,2025-01-07 11:42:41,1.0,6.23,1.0,N,140,231,1,35.90,0.00,0.5,8.13,0.00,1.0,48.78,2.5,0.00
2824603,2,2025-01-30 22:34:56,2025-01-30 22:51:08,1.0,1.87,1.0,N,66,52,1,15.60,1.00,0.5,3.62,0.00,1.0,21.72,0.0,0.00
2670931,1,2025-01-29 16:25:22,2025-01-29 16:44:27,1.0,2.50,1.0,N,229,264,1,18.40,5.75,0.5,6.40,0.00,1.0,32.05,2.5,0.00
50015,2,2025-01-01 16:03:48,2025-01-01 16:13:00,1.0,2.45,1.0,N,90,231,2,12.10,0.00,0.5,0.00,0.00,1.0,16.10,2.5,0.00

In [9]:
# Find the missing values of each column
df.isna().sum()

VendorID                      0
tpep_pickup_datetime          0
tpep_dropoff_datetime         0
passenger_count          540149
trip_distance                 0
RatecodeID               540149
store_and_fwd_flag       540149
PULocationID                  0
DOLocationID                  0
payment_type                  0
fare_amount                   0
extra                         0
mta_tax                       0
tip_amount                    0
tolls_amount                  0
improvement_surcharge         0
total_amount                  0
congestion_surcharge     540149
Airport_fee              540149
dtype: int64

In [10]:
df = df.drop('store_and_fwd_flag', axis=1)

In [11]:
# Drop all nan values
df.dropna(inplace=True);

In [12]:
# Find the missing values of each column
df.isna().sum()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
congestion_surcharge     0
Airport_fee              0
dtype: int64

In [13]:
# View the dataframe
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2025-01-01 00:18:38,2025-01-01 00:26:59,1.0,1.60,1.0,229,237,1,10.0,3.50,0.5,3.00,0.0,1.0,18.00,2.5,0.0
1,1,2025-01-01 00:32:40,2025-01-01 00:35:13,1.0,0.50,1.0,236,237,1,5.1,3.50,0.5,2.02,0.0,1.0,12.12,2.5,0.0
2,1,2025-01-01 00:44:04,2025-01-01 00:46:01,1.0,0.60,1.0,141,141,1,5.1,3.50,0.5,2.00,0.0,1.0,12.10,2.5,0.0
3,2,2025-01-01 00:14:27,2025-01-01 00:20:01,3.0,0.52,1.0,244,244,2,7.2,1.00,0.5,0.00,0.0,1.0,9.70,0.0,0.0
4,2,2025-01-01 00:21:34,2025-01-01 00:25:06,3.0,0.66,1.0,244,116,2,5.8,1.00,0.5,0.00,0.0,1.0,8.30,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2935072,1,2025-01-31 23:01:14,2025-01-31 23:08:49,1.0,1.50,1.0,163,48,2,8.6,4.25,0.5,0.00,0.0,1.0,14.35,2.5,0.0
2935073,1,2025-01-31 23:11:28,2025-01-31 23:14:45,1.0,0.60,1.0,48,48,2,5.1,4.25,0.5,0.00,0.0,1.0,10.85,2.5,0.0
2935074,2,2025-01-31 23:14:32,2025-01-31 23:28:02,1.0,1.96,1.0,142,164,1,14.2,1.00,0.5,2.00,0.0,1.0,21.95,2.5,0.0
2935075,2,2025-01-31 23:15:51,2025-01-31 23:21:22,2.0,0.89,1.0,230,142,1,7.2,1.00,0.5,2.59,0.0,1.0,15.54,2.5,0.0
2935076,2,2025-01-31 23:34:39,2025-01-31 23:46:00,2.0,2.44,1.0,140,75,1,14.2,1.00,0.5,4.80,0.0,1.0,24.00,2.5,0.0